# to define task:
task :task_name do
  # task logic
end

# to define task description
desc "task useful description"
task :some_task do
  # 2 + 1
end

# to execute one task from another
desc "invoke example"
task :first do
  # -Infinity / 0
  invoke! :second
end

task :second do
  # yay we are here!
end

# to execute shell commands
task :build do
  execute "shards build"

  # or with sweet logs
  execute(
    cmd: "shards build",
    announce: "Building binary...",
    success: "Binary built!",
    error: "Build failed."
  )
end

# to log things
task :deploy do
  # your deploy code
  log "Deploy successful!"
  log "Or errored.", 1
end
